<!--    <h1>The title</h1>
    <p>Content goes herefzefez
-->

{% for ligne_cartes in lignes_cartes %}
<table>
    <tr>
        {% for carte in ligne_cartes %}
                <td class="carte">

                    <table>
                        <tr>
                            <td class="coin_carte">+</td>
                            <td class="horizontal_carte"><img src="{{ carte['haut'] }}"></td>
                            <td class="coin_carte">+</td>
                        </tr>
                        <tr>
                            <td class="vertical_carte">
                                {% for icone in carte['gauche'] %}
                                <img src="{{ icone }}">
                                {% endfor %}
                            </td>
                            <td class="centre_carte"><div style="background-image: url('{{ carte['contenu']['fond'] }}');">
                                {{ carte['contenu']['titre'] }}<br>
                                <br>
                                <br>
                                <br>
                                {% for icone in carte['contenu']['image'] %}
                                <img src="{{ icone }}">
                                {% endfor %}
                                <br>
                                </div>
			            </td>
                            <td class="vertical_carte">
                                {% for icone in carte['droite'] %}
                                <img src="{{ icone }}">
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="coin_carte">+</td>
                            <td class="horizontal_carte"><img src="{{ carte['bas'] }}"></td>
                            <td class="coin_carte">+</td>
                        </tr>
                    </table>
                </td>
                {% endfor %}
            </tr>

        </table>
{% endfor %}